/.vs/ProjectEvaluation/
/.vs/Sam530/config/applicationhost.config
/.vs/Sam530/DesignTimeBuild/.dtbcache.v2
/.vs/Sam530/FileContentIndex/4ce9abc6-a6a2-4829-a864-59aa2ad5fc91.vsidx
/.vs/Sam530/FileContentIndex/d1f9e915-088f-4dac-b1c1-4f212e1d3556.vsidx
/.vs/Sam530/FileContentIndex/d3e533a0-18f0-4e74-b34c-55b95510139b.vsidx
/.vs/Sam530/v16/.suo
/.vs/Sam530/v17/.futdcache.v2
/.vs/Sam530/v17/.suo
/.vs/Sam530/v17/DocumentLayout.backup.json
/.vs/Sam530/v17/DocumentLayout.json
/.vs/TestUpload/config/applicationhost.config
/.vs/TestUpload/DesignTimeBuild/.dtbcache.v2
/.vs/TestUpload/FileContentIndex/24a2bf55-0f82-4612-a02c-be17a1c72089.vsidx
/.vs/TestUpload/FileContentIndex/847e4b0c-0e05-47fa-b5b5-07a0a8d883d2.vsidx
/.vs/TestUpload/FileContentIndex/96908009-bfca-4382-bf46-810800312e68.vsidx
/.vs/TestUpload/FileContentIndex/ceba12e6-1b4b-4dd7-9289-0b63b8dd6328.vsidx
/.vs/TestUpload/FileContentIndex/daf70c34-02ff-4b1e-8106-417fc4aeabc7.vsidx
/.vs/TestUpload/v17/.futdcache.v2
/.vs/TestUpload/v17/.suo
/.vs/TestUpload/v17/DocumentLayout.backup.json
/.vs/TestUpload/v17/DocumentLayout.json
/DataStore/bin/Debug/net8.0
/DataStore/obj/
/DataStore/bin/
/Sam530/bin/Debug/net8.0
/Sam530/obj
/Sam530Core/bin
/Sam530Core/obj/
/Sam530/Uploads/publish
/Sam530/bin/Release/
