@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject Sam530.Services.AppInfoService AppInfo

@*
    Per fer icones. Cal definir-les a NavMenu.razor.css
    1.- Son icones de bootstrap. Cal anar a https://icons.getbootstrap.com/icons/ per buscar la que necessitem.
    2.- Copiem el HTML que fa servir svg
    3.- Anem a la web de conversió https://yoksel.github.io/url-encoder/
    4.- Enganxem la còpia a 'Insert SVG'
    5.- El Ready for CSS és el codi que necessitem per crear la nova classe a NavMenu.razor.css
*@



<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Boston SAM530 @AppInfo.GetVersion()</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="radius">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Radius
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="syslog">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Syslog
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="upload">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Update Firmware
            </NavLink>
        </div>
        <NavLink class="nav-link" href="/logout">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Logout
        </NavLink>
       

    </nav>
</div>

